@page "/"
@using GIO_14BlazorApp.Components.Pages.Contact
@using GIO_14BlazorApp.Components.Pages.Services

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row">
         <Hero />
        <Services />
        <Contact />
        <Footer />
    </div>
</div>

