<div class="about-section d-flex align-items-center justify-content-center">
    <div class="container">
        <h2>About Us</h2>
        <p>
            GIO-14 Group of Intelligence and Operations-14 is a British company with headquarters in the UK. Our agents are highly trained ex-special forces and ex-members from the police. We have the latest technology to help us track, locate, and if necessary, retrieve fugitives or persons of interest.

            GIO-14 has a close relationship with government authorities South America.

            With mutual cooperation, GIO-14 is able to locate, and if necessary, retrieve a fugitive or a person of interest.  <a href="#" style="text-decoration-line:none; color:#EFBA02">read more</a>
        </p>
       
       </div>
</div>
`