<div class="contact-info-section">
    <div class="contact-item">
        <i class="fas fa-phone-alt"></i>
        <p>+44 000 000 000</p>
    </div>


    <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <p>info@gio-14.com</p>
    </div>
</div>



@* <style>
    /* Contact Info Section */
    .contact-info-section {
        display: flex;
        justify-content: space-between; /* Space out items to the edges */
        align-items: center;
        max-width: 800px; /* Adjust width as needed */
        margin: 0 auto; /* Center the container on the page */
        padding: 2rem 0;
    }

    .contact-item {
        text-align: center;
        font-size: 1.2rem;
        color: #333;
    }

    .contact-item i {
        font-size: 3rem; /* Icon size */
        color: #000;
    }

    .contact-item p {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: #333;
    }
</style>
 *@