@*Footer*@

<div class="get-in-touch-section bg-black">
    <h2>Get in Touch</h2>
    <a href="contact-page-url" class="btn btn-warning contact-button">Ask for an Agent</a>
    <p class="footer-text">GIO-14</p>
</div>



@code {

}
