@* HeroSlider.razor *@
<div class="top" style="background-color:black;">
    <h2 style="color:white;">Have you been a victim of an</h2>
    <h2 style="color:white;">illegal acts?</h2>

    <a href="#" class="btn btn-warning btn-lg mt-3" style="margin-bottom:20px;" >Learn more</a>

</div>
<div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- Slide 2 -->
        <div class="carousel-item active">
            <div class="carousel-background" style="background-image: url('Images/professionalGuard1.png');">
                <div class="carousel-caption  d-none d-md-block">
                    <h2 style="color:white; ">Against an adult.</h2>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item ">
            <div class="carousel-background" style="background-image: url('Images/professionalGuard1.png');">
                <div class="carousel-caption  d-none d-md-block">
                    <h2 style="color:white;">Against an institution.</h2>      
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item ">
            <div class="carousel-background" style="background-image: url('Images/professionalGuard1.png');">
                <div class="carousel-caption  d-none d-md-block">
                    <h2 style="color:white; ">Against a child.</h2>


                </div>
            </div>
        </div>
      

        
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

