@* <img src="/Images/professionalGuard1.png" alt="" /> *@
<div class="services-section text-center py-5">

    <h2 class="section-title">Services</h2>
    <div class="container mt-4">
        <div class="row">

            <!-- Service Card 1 -->
            <div class="col-12 col-md-4 mb-4">
                <div class="service-card bg-black text-light p-4">
                    <h3 class="service-title">Investigation</h3>
                    <p class="service-description" style="color:white;">
                        We help to locate and retrieve fugitives or persons of interest.
                    </p>
                </div>
            </div>
            <!-- Service Card 2 -->
            <div class="col-12 col-md-4 mb-4">
                <div class="service-card bg-black text-light p-4">
                    <h3 class="service-title">Support</h3>
                    <p class="service-description" style="color:white;">
                        We will help you to track down debtors so you can take necessary steps to recover your funds.
                    </p>
                </div>
            </div>
            <!-- Service Card 3 -->
            <div class="col-12 col-md-4 mb-4">
                <div class="service-card bg-black text-light p-4">
                    <h3 class="service-title">Debtor Tracing</h3>
                    <p class="service-description" style="color:white;">
                        We offer support for South American governments and their embassies in Europe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
